<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(1) start</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ZomDEAQAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				xoMQBAAAMA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(2) ___ath_attach</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				D7f4g/8w
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				D7f4g/8A
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(3)_ar9300ReadRevisions</string>
				<key>Count</key>
				<integer>4</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				wekMgeHA/w8A
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				wekMkLnAAQAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(4)_ar9300ReadRevisions #1</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				wegMJcD/DwA=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				wegMuMABAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(5)_ar9300ReadRevisions #2</string>
				<key>Count</key>
				<integer>5</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				wekIg+EP
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				kLkCAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(6)_ar9300ReadRevisions #3</string>
				<key>Count</key>
				<integer>3</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				wegIg+AP
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				kLkCAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(7) _ar9300RxGainIndexGet</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				D7aHALIAAIPgDw==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				D7aHALIAAJAxwA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(8) _ar9300TxGainIndexGet</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				D7aHALIAAMHoBA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				D7aHALIAAJAxwA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(9) _ar9300FillCapabilityInfo</string>
				<key>Count</key>
				<integer>4</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ZomDFgkAAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				xoMWCQAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(10) _ar9300FillCapabilityInfo #2</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				SLkAAAAAAGAQAA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				SLkAAAAAACAQAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>AR9565</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				OTM4MA==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				OTU2NQ==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(11) _ar9300SetRxFilter</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				jZAABAAA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				jZAABAgA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(12) _ar9300Reset</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugcAAABMief/0A==
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				ugEAAABMief/0A==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(13) _ar9300Reset #2</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				ugcAAABMiedB/1UA
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				ugEAAABMiedB/1UA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(14) _ar9300 #1</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				vohiAQA=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				voxiAQA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>(15) _ar9300 #2</string>
				<key>Count</key>
				<integer>4</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				vpBiAQA=
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				vpRiAQA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_mac_core</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				CAAAAAAAAAAwAAAAhQAKADQAAAAFAAAAQAAAAAAAAABE
				AAAAAAAAAEgAAAAIAAAATAAAABAAAABQAAAAAAAAAEAQ
				AAAP/C8ARBAAAA/8LwBIEAAAD/wvAEwQAAAP/C8AUBAA
				AA/8LwBUEAAAD/wvAFgQAAAP/C8AXBAAAA/8LwBgEAAA
				D/wvAGQQAAAP/C8A8BAAAAABAABwEgAAAAAAALASAAAA
				AAAA8BIAAAAAAAA8FAAAAAAAAHwUAAAAAAAAEBgAAAMA
				AA8AgAAAAAAAAASAAAAAAAAACIAAAAAAAAAMgAAAAAAA
				ABiAAAAAAAAAIIAAAAAAAAA4gAAAAAAAADyAAAAAAAAA
				QIAAAAAAAABEgAAAAAAAAEiAAAAAAAAAVIAAAAAAAABY
				gAAAAAAAAFyAAACPxw8AYIAAAA8AAABkgAAAAAAAAHCA
				AAAQAwAAdIAAACAAAAB4gAAAAAAAAJyAAAAPAAAAoIAA
				AAAAAACkgAAAAAD/AqiAAAAFBgcOrIAAAA0AAACwgAAA
				AAAAALSAAAAAAAAAuIAAAAAAAAC8gAAAAAAAAMCAAAAA
				AIAqxIAAAGgBkAbIgAAAIByIE8yAAAAAAPQB0IAAAAAl
				JQDUgAAABQCwANiAAAACAEAA3IAAAAAAAADggAAA////
				/+SAAAD//wAA6IAAAD8/Pz/sgAAAAAAAAPCAAAAAAAAA
				9IAAAAAAAAD8gAAAAAACAACBAAAAAAAACIEAAFIAAAAM
				gQAAAAAAABCBAAAAAAAAFIEAAP8HAAAYgQAAqgAAAByB
				AAAQMgAAJIEAAAAAAAAogQAAAAAAACyBAAAAAAAAMIEA
				AAAAAAA0gQAAAAAAADiBAAAAAAAAPIEAAP//AABEgQAA
				/////2iBAAAAAAAAbIEAAAAAAABwgQAAAGJIGHSBAAAQ
				IjMzeIEAAAAAAAB8gQAAAAACAMSBAAAQIjMzyIEAAAAA
				AADMgQAAAAAAANSBAAAAAAAA7IEAAAAAAADwgQAAAAAA
				APSBAAAAAAAA+IEAAAAAAAD8gQAAAAAAAECCAAAAABAA
				RIIAACT0EABIggAAAAgAAEyCAABI6AEAUIIAAAAAAABU
				ggAAAAAAAFiCAAAAAAAAXIIAAAAAAEBgggAAIgkIAGSC
				AAAQAECdaIIAAP////9sggAA//8AAHCCAAAAAAAAdIIA
				AAAAAEB4ggAAgEE+AHyCAAAEAAAAhIIAACwAAACIggAA
				LAAAAIyCAAD/AAAAlIIAAAAAAACYggAAAAAAAJyCAAAA
				AAAAAIMAAEABAAAUgwAAAAAAAByDAAANAQAAKIMAAAAA
				AAAsgwAAHwAAADCDAAACAwAANIMAAAAHAAA4gwAAAAD/
				/zyDAAAAAEACQIMAAP8HAQBEgwAAWxBIqkiDAAAAAI8A
				XIMAAAAAAABggwAA/////2SDAAD/////aIMAAAAAAABw
				gwAAAAAAAHSDAAD/AAAAeIMAAAAAAAB8gwAAAAAAAICD
				AAD/////hIMAAP////+QgwAA/////5SDAAD/////mIMA
				AAAAAACcgwAAAAAAAKSDAAAU+gAAqIMAAAAMDwCsgwAA
				ECIzM7CDAAAQIjMztIMAABAiMzO4gwAAECIzM7yDAAAA
				AAAAwIMAAAAAAADEgwAAAAAAAMiDAAAAAAAAzIMAAAAC
				AADQgwAA/wEDgAAAAAAAAAAAAAAAAAAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_mac_postamble</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				MBAAADACAABgBAAAwAIAAGABAABwEAAAaAEAANACAAAY
				AwAAjAEAALAQAABgDgAAwBwAAHB8AAA4PgAAFIAAAOgD
				6APQB9AHABaAEAALQAgcgAAAJ4CNEk+AjRJXAOASKwDg
				EiCBAAAASPAIAEjwCBBI8AgQSPAI0IEAABAyAAAQMgAA
				CjIAAAoyAAAYgwAAgD4AAAB9AACAaAAAQDQAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_baseband_core</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				AJgAADCO5q8EmAAAAOAU/QiYAABrjwqcDJgAAAAAgAQU
				mAAACsCAkhiYAAAAAAAAHJgAACgAAgA0mAAAkKIAZDiY
				AAD/7AgBPJgAAAAGAA2AmAAAAP8fIISYAABCEAAApJgA
				AAAEIACwmAAAvguEMtCYAACOaksA1JgAACAIAADcmAAA
				AAAAAOSYAAD///8f6JgAAP///x/smAAA////H/CYAAAA
				AAAA9JgAAAAAAADwmwAAAAAAgAScAABV/1X/CJwAAFX/
				IAMMnAAAAAAAABCcAAAAAAAAFJwAAIRjBAAYnAAAQLS2
				BRycAABAtLYAAJ0AADOjgMAEnQAAEGwgQAidAABgQJwA
				DJ0AAAqAgxgQnQAAYUCDARSdAAAABMAAGJ0AAAAAAAAI
				ngAADCM4ACSeAAAVtQeZKJ4AAAAAbxIwngAAd28zBjSe
				AAAvU/ZqOJ4AAAAMyAxAngAAIBgmDUyeAAAEEAAAUJ4A
				APED/wBUngAAx1XD5FyeAAAkhxnpwJ8AAMhPPoLEnwAA
				te8BAMyfAAAUAABADKIAAAAAAAAgogAAAAAAACSiAAAA
				AAAAKKIAABAjABA8ogAAAAAAAESiAAAAAAAMoKIAAAEA
				AADAogAAAQAAAMiiAAAAAAAAzKIAADM0xBjUogAAAAAA
				AOyiAAAAAAAA8KIAAAAAAAD0ogAAAAAAAPiiAAAAAAAA
				RKMAAAAAAABMowAAAAAAAFCjAAAAoAAAZKMAAAAAAABw
				owAAAAAAAJCjAAABAAAAlKMAAEQEAACYowAADw4fAJyj
				AAA/OXUAoKMAACdkn7ekowAAEQAAAKijAABuqqqqrKMA
				AFVkRjzAowAAICAgIMSjAAAgIiIiyKMAACAAICDMowAA
				ICAgINCjAAAgICAg1KMAACAgICDYowAAICAgINyjAAAg
				ICAg4KMAACAgICDkowAAICAgIOijAAAgICAg7KMAACAg
				ICDwowAAAAAAAPSjAAAGAAAA+KMAAIDTmwz8owAAAQ8P
				AACkAAABH6mPBKQAAAAAAAAIpAAAxuV5DgykAAAgCIIA
				FKQAAMU55xwYpAAAzh0ALRykAADFOeccIKQAAM4BAAAk
				pAAAxTnnHCikAADOAQAALKQAAM455xwwpAAAzjnnHDSk
				AAAAAAAAOKQAAAEYAAA8pAAAAAAAAECkAAAAAAAARKQA
				AAAAAABIpAAAlgAABUykAAABAAAAUKQAAAAAAQBUpAAA
				AAAAA1ikAAAAAAAARKYAAHSdrb9IpgAACgZIAEymAAA3
				PAAAcKYAAAABAgN0pgAABAUICXimAAAKCwwNfKYAABAR
				EhOApgAAFBUwMYSmAAAyMzQ1iKYAADYAAACQpgAAOAgA
				ALSmAAABLFEAwKcAAAAAAADEpwAA/P///8inAAAAAAAA
				zKcAAAAAAADQpwAAAAAAANSnAAAEAAAA3KcAAAEAAADw
				pwAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_baseband_postamble</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				EJgAAAWACtAFgArQBYAK0AmACtAgmAAALgJqIC4CaiAu
				AWogrgFqICSYAADQQMZa0EDGWtBAxlraQMZjKJgAAIEw
				kAaBMJAGgTiQBoE8FAksmAAA1KbuBdSm7gXUpu4F1Kbu
				BTCYAACcBQAAnAUAAJwFAACcBQAAAJwAAMQAAADEAAAA
				xAAAAMQAAAAAngAAGhFyAxoRcgOgFnIDoBZyAwSeAAAg
				IIAAICCAACAgFAAgIBQADJ4AAOIAQGziAEBt4gBAbeIA
				QGwQngAALo3Ifi6NyH4uTch+Lk3IfhSeAABeXbk3XmC5
				N15geTNeXXkzGJ4AAAAAAAAAAAAAAAAAAAAAAAAcngAA
				nM8BAJzPAQCcHwIAnB8CACCeAAC1AwAAtQMAAKQDAACk
				AwAALJ4AABwAAAAcAAAAIQAAACEAAAA8ngAAImKUzyJi
				lM8gYpTPIGKUz0SeAAAnHjL+Jx4y/iceKf4nHin+SJ4A
				ABogMFAaIDBQEiAwUBIgMFDInwAAAPADAADwAwAAoAEA
				AKABAASiAADAjzEHxI8xB8SPMQfAjzEHCKIAAAQBAAAE
				AQAABAAAAAQAAAAsogAAL2oCASdqAgEvagIBL2oCATCi
				AAAKQAAAFEAAABZAAAALQAAANKIAAP8PAAD/DwAQ/w8A
				EP8PAAA4ogAAGBC4/xgQuP8YELj/GBC4/1CiAAAAAAAA
				AAAAABACAAAIAQAAVKIAANAHAACgDwAAMBEAAJgIAABY
				ogAAAgACAgIAAgICAAICAgACAlyiAAAODgABDg4AAQ4O
				AAEODgABYKIAAAEVAgoBFQIKARUCOgEVAjpkogAADg4A
				AA4OAAAODgAADg4AAICiAAAHAAAABwAAAAsAAAALAAAA
				hKIAAAAAAAAAAAAAUAEAAFABAACIogAAEAUQABAFEAAQ
				BRAAEAUQAIyiAABRFQIAURUCAFEVAgBRFQIAxKIAABiN
				BQAYjQUAGI0FABiNBQDQogAAghkHAIIZBwCCGQcAghkH
				ANiiAAA7qJl5O6iZeTuomXk7qJl5WKMAAAAAAAAAAAAA
				AAAAAAAAAAAErgAAAACAAAAAgAAAAIAAAACAABiuAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_radio_core</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				AGABALZt2zYEYAEAQNu2bQhgAQAAAPBzDGABAAAAAAAQ
				YAEAATaCbUBgAQD4/4B/TGABAE/gmRxQYAEAbNu2bVhg
				AQAAACBsgGABAAAADACEYAEAjARomohgAQAURSFUjGAB
				AAsEAxKQYAEAkGSSJJhgAQAwM4vSoGABAP6PEAqkYAEA
				kcQvgahgAQAAgDxCtGABAAAAAJK4YAEA3N2FArxgAQCI
				iJACwGABANC2bQDEYAEAYNvWbchgAQBs27ZtzGABALDB
				5m0AYQEABL7/PwRhAQAAAPj/CGEBAAAEIAAQYQEAAAAA
				AERhAQCAQAgCSGEBAMCAAACAYgEAAQAKBYRiAQBAFIQ9
				iGIBAAAAAACMYgEAAAAA45BiAQCAQAChlGIBACgAAECY
				YgEAACmqVUBjAQB6ghwTRGMBAAAAMAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_radio_postamble</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				nGABACTljgsk5Y4LJOWOCyTljgusYAEACGxkpAhsZKQI
				bGSkCGxkpLBgAQBwf9YBcH/WAXB/1gFwf9YBDGEBAAAA
				AEAAAABAAAAAQAAAAEBAYQEACECAEAhAgBAIQIBQCECA
				UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_soc_preamble</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				pEAAAMnJoAAQcAAAMyIAACBwAAAAAAAANHAAAAIAAAA4
				cAAAwgQAAAAAAAAAAAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300_osprey_2p0_soc_postamble</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				EHAAADMiAAAzIgAAMyIAADMiAAAAAAAAAAAAAAAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300Common_rx_gain_table_osprey_2p0</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				AKAAAAAAAQAEoAAAAgADAAigAAAEAAUADKAAAIAAgQAQ
				oAAAggCDABSgAACAAYEBGKAAAIIBgwEcoAAAhAGFASCg
				AACIAYkBJKAAAIoBiwEooAAAjAGNASygAACQAYIDMKAA
				AIMDhAM0oAAAhQOIAzigAACJA4oDPKAAAIsDjANAoAAA
				jQOQA0SgAACRA5IDSKAAAJMDlANMoAAAlQOWA1CgAAAA
				AAAAVKAAAAAAAABYoAAAAAAAAFygAAAAAAAAYKAAAAAA
				AABkoAAAAAAAAGigAAAAAAAAbKAAAAAAAABwoAAAAAAA
				AHSgAAAAAAAAeKAAAAAAAAB8oAAAAAAAAICgAAApKSkp
				hKAAACkpKSmIoAAAKSkpKYygAAApKSkpkKAAACkpKSKU
				oAAAIiIdHZigAAAXEREMnKAAAAMDAwCgoAAAAAAAAKSg
				AAAAAAAAqKAAAAAAAACsoAAAAAAAALCgAAAAAAAAtKAA
				AAAAAAC4oAAAAAAAALygAAAAAAAAwKAAAKAAvwDEoAAA
				oRGgEcigAAC/Eb4RzKAAAL0RvBHQoAAAZCJjItSgAABi
				ImEi2KAAAGAifyLcoAAAfiIiQ+CgAAAhQyBD5KAAAD9D
				PkPooAAAPUNiROygAABhRGBE8KAAAH9EfkT0oAAAfUSC
				VfigAACBVYBV/KAAAJ9VnlUAoQAAgmaBZgShAACAZp9m
				CKEAAJ5mnWYMoQAAY3didxChAABhd2B3FKEAAAAAAAAY
				oQAAAAAAAByhAAAAAAAAIKEAAAAAAAAkoQAAAAAAACih
				AAAAAAAALKEAAAAAAAAwoQAAAAAAADShAAAAAAAAOKEA
				AAAAAAA8oQAAAAAAAEChAACgAL8ARKEAAKERoBFIoQAA
				vxG+EUyhAAC9EbwRUKEAAGQiYyJUoQAAYiJhIlihAABg
				In8iXKEAAH4iIkNgoQAAIUMgQ2ShAAA/Qz5DaKEAAD1D
				YkRsoQAAYURgRHChAAB/RH5EdKEAAH1EglV4oQAAgVWA
				VXyhAACfVZ5VgKEAAIJmgWaEoQAAgGafZoihAACeZp1m
				jKEAAOd35ncQoQAA5Xfkd5ShAAAAAAAAmKEAAAAAAACc
				oQAAAAAAAKChAAAAAAAApKEAAAAAAACooQAAAAAAAKyh
				AAAAAAAAsKEAAAAAAAC0oQAAAAAAALihAAAAAAAAvKEA
				AAAAAADAoQAAAAAAAMShAAAAAAAAyKEAAAAAAADMoQAA
				AAAAANChAAAAAAAA1KEAAAAAAADYoQAAAAAAANyhAAAA
				AAAA4KEAAAAAAADkoQAAAAAAAOihAAAAAAAA7KEAAAAA
				AADwoQAAlgMAAPShAACWAwAA+KEAAJYDAAD8oQAAlgEA
				AACwAAAAAAEABLAAAAIAAwAIsAAABAAFAAywAACAAIEA
				ELAAAIIAgwAUsAAAgAGBARiwAACCAYMBHLAAAIQBhQEg
				sAAAgAKBAiSwAACCAoMCKLAAAIQChQIssAAAiAKJAjCw
				AACKAosCNLAAAIwCiAM4sAAAiQOKAzywAACLA4wDQLAA
				AI0DkANEsAAAkQOSA0iwAACTA5QDTLAAAJUDlgNQsAAA
				AAAAAFSwAAAAAAAAWLAAAAAAAABcsAAAAAAAAGCwAAAA
				AAAAZLAAAAAAAABosAAAAAAAAGywAAAAAAAAcLAAAAAA
				AAB0sAAAAAAAAHiwAAAAAAAAfLAAAAAAAACAsAAAMjIy
				MoSwAAAyMi8viLAAAC0qKCOMsAAAIyEeHJCwAAAZGRcU
				lLAAABQSDg6YsAAABwcFA5ywAAADAwMAoLAAAAAAAACk
				sAAAAAAAAKiwAAAAAAAArLAAAAAAAACwsAAAAAAAALSw
				AAAAAAAAuLAAAAAAAAC8sAAAAAAAAMCwAAAgAD8AxLAA
				AEEAQADIsAAAXwBAAcywAABfAWAB0LAAAH8BfgHUsAAA
				QgJBAtiwAABAAl8C3LAAAGACfwLgsAAAfgJBA+SwAABA
				A18D6LAAAGADfwPssAAAQQRABPCwAABfBGAE9LAAAH8E
				QQX4sAAAQAVfBfywAABgBX8FALEAAEEGQAYEsQAAXwZg
				BgixAAB/Bn4GDLEAAEIHQQcQsQAAQAdfBxSxAABgB38H
				GLEAAIEHgAccsQAAnwegByCxAAC/B8EHJLEAAMAHAAAo
				sQAAAAAAACyxAAAAAAAAMLEAAAAAAAA0sQAAAAAAADix
				AAAAAAAAPLEAAAAAAABAsQAAIAA/AESxAABBAEAASLEA
				AF8AQAFMsQAAXwFgAVCxAAB/AX4BVLEAAEICQQJYsQAA
				QAJfAlyxAABgAn8CYLEAAH4CQQNksQAAQANfA2ixAABg
				A38DbLEAAEEEQARwsQAAXwRgBHSxAAB/BEEFeLEAAEAF
				XwV8sQAAYAV/BYCxAABBBkAGhLEAAF8GYAaIsQAAfwZ+
				BoyxAABCB0EHkLEAAEAHXweUsQAAYAd/B5ixAACBB4AH
				nLEAAJ8HoAegsQAAvwfBB6SxAADABwAAqLEAAAAAAACs
				sQAAAAAAALCxAAAAAAAAtLEAAAAAAAC4sQAAAAAAALyx
				AAAAAAAAwLEAAAAAAADEsQAAAAAAAMixAAAAAAAAzLEA
				AAAAAADQsQAAAAAAANSxAAAAAAAA2LEAAAAAAADcsQAA
				AAAAAOCxAAAAAAAA5LEAAAAAAADosQAAAAAAAOyxAAAA
				AAAA8LEAAJYDAAD0sQAAlgMAAPixAACWAwAA/LEAAJYB
				AAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300Modes_lowest_ob_db_tx_gain_table_osprey_2p0</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				3KIAAICTCvyAkwr8Ulur/VJbq/3gogAAAOzs/wDs7P+E
				nDP9hJwz/eSiAAAAAA/8AAAP/ADgw/4A4MP+6KIAAAAA
				EPwAABD8AAD8/wAA/P8QpAAA2VAAANlQAADfUAAA31AA
				AAClAAAgIgAAICIAAAAAAAAAAAAABKUAACMiAAYjIgAG
				AgAABAIAAAQIpQAAICICCyAiAgsEAAAIBAAACAylAAAj
				IgIQIyICEAACAAwAAgAMEKUAACAmAhUgJgIVAgIAEAIC
				ABAUpQAAIiYCGSImAhkABAATAAQAExilAAAiKAIcIigC
				HAIEABcCBAAXHKUAAEIoAiFCKAIhBAQAGwQEABsgpQAA
				QSwCJEEsAiQDBgAeAwYAHiSlAABCMAIpQjACKQIKACMC
				CgAjKKUAAEQwAi1EMAItBAoAJwQKACcspQAARDYCMUQ2
				AjEgCgAqIAoAKjClAABDVgI2Q1YCNiAOAC4gDgAuNKUA
				AERaAjpEWgI6Ig4AMiIOADI4pQAARV4CPUVeAj0kDgA2
				JA4ANjylAABKXgJDSl4CQ0AWADpAFgA6QKUAAGxeAkps
				XgJKYBYAPmAWAD5EpQAAjl4CUI5eAlBhGABBYRgAQUil
				AACyXgJWsl4CVoEaAEWBGgBFTKUAALVeAly1XgJcgxoA
				SYMaAElQpQAA9l4CYvZeAmKEHABMhBwATFSlAABWXwJl
				Vl8CZeMcAE/jHABPWKUAAFZ/AmlWfwJp5RwAU+UcAFNc
				pQAAVp8CbVafAm3pHABX6RwAV2ClAABWnwRzVp8Ec+sc
				AFvrHABbZKUAAFb/BHhW/wR48BwAYPAcAGBopQAAVv8E
				eFb/BHjxHABh8RwAYWylAABW/wR4Vv8EePIcAGLyHABi
				cKUAAFb/BHhW/wR48xwAY/McAGN0pQAAVv8EeFb/BHj0
				HABk9BwAZHilAABW/wR4Vv8EePYfAGb2HwBmfKUAAFb/
				BHhW/wR49h8AZvYfAGYApgAAAAAAAAAAAAAAAAAAAAAA
				AASmAAAAAAAAAAAAAAAAAAAAAAAACKYAAAAAAAAAAAAA
				AAAAAAAAAAAMpgAAAECAAABAgAAAAAAAAAAAABCmAAAB
				QoAAAUKAAAAAAAAAAAAAFKYAAAFCgAABQoAAAEBAAQBA
				QAEYpgAAAUKAAAFCgAABRUABAUVAARymAAABggACAYIA
				AgGFAAIBhQACIKYAAAMKwQIDCsECA8qAAgPKgAIkpgAA
				BVKBBAVSgQQEC8ECBAvBAiimAAAG1IEFBtSBBQRLgQME
				S4EDLKYAAAfWgQUH1oEFBY4BBQWOAQUwpgAAB9aBBQfW
				gQUGlAEFBpQBBTSmAAAH1oEFB9aBBQaUAQUGlAEFOKYA
				AAfWgQUH1oEFBpQBBQaUAQU8pgAAB9aBBQfWgQUGlAEF
				BpQBBURgAQDkgm0F5IJtBeSCbQXkgm0FSGABAGCQtI1g
				kLSNYJC0jWCQtI1UYAEAAAC2bQAAtm0AALZtAAC2bQAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAA
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300PciePhy_pll_on_clkreq_disable_L1_osprey_2p0</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				AIwBAN4uIRgEjAEA2AEIAAiMAQAMeAMAAAAAAAAAAAA=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_ar9300Modes_fast_clock_osprey_2p0</string>
				<key>Comment</key>
				<string></string>
				<key>Count</key>
				<integer>0</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				</data>
				<key>Identifier</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>Replace</key>
				<data>
				MBAAAGgCAADQBAAAcBAAAIwBAAAYAwAAsBAAANAPAACg
				HwAAFIAAAEwETASYCJgIHIAAACvAjhRXwI4UGIMAAMBE
				AACAiQAAAJ4AACEYcgMhGHIDMKIAAAtAAAAWQAAAVKIA
				AJgIAAAwEQAAAAAAAA==
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
